{
  "trailingComma": "none",
  "semi": false,
  "singleQuote": true,
  "tailwindConfig": "./tailwind.config.ts",
  "plugins": ["prettier-plugin-tailwindcss"],
  "pluginSearchDirs": false,
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "tailwindFunctions": ["tw"]
}